@use "./partials/global" as *;
/*************************************/
/* Hero Menu Page */
/*************************************/
.HeroMenuPage {
  background-image: url(../Assets/images/coffee-circle.jpg);
  @include BackgroundHero;
  width: 100vw;
  height: 80vh;
  color: $LightGray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroMenuPage {
  & .btn {
    background-color: $DarkGray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem;
  }
  & .btntxtandborder {
    font-size: 4rem;
    border: 4px solid $Blue;
    padding: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -1.5rem;
    left: -1rem;
    &:hover{
      border: 4px solid $Blue;
    }
  }
}

/*************************************/
/* Second Navigation bar */
/*************************************/
.SecondNav {
  color: #ffffff;
  background-color: $DarkGray;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SecondNavList {
  display: flex;
  gap: 3rem;
}

.vl {
  border-left: 0.5rem solid $Blue;
}

/*************************************/
/* Menu Items Decription */
/*************************************/
.MenuItemsDecription {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.HotDrink,
.ColdDrink,
.Pasteries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  padding: 5rem 3rem;
  grid-column: 2;
}

.MenuItemsDecriptionB1 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(40, 40, 40, 0.6)
    ),
    url(../Assets/images/DesignedVersion/hero/MenuPageHotDrinkHero2.jpg);
  @include BackgroundHero;
  color: $LightGray;
}
.MenuItemsDecriptionB2 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(40, 40, 40, 0.5)
    ),
    url(../Assets/images/DesignedVersion/hero/MenuPageColdBrewHero2.jpeg);
  @include BackgroundHero;
  color: $LightGray;
  border-top: 2rem solid $LightPink;
  border-bottom: 2rem solid $LightPink;
}
.MenuItemsDecriptionB3 {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(40, 40, 40, 0.6)
    ),
    url(../Assets/images/DesignedVersion/hero/MenuPagePasteriesHero2.jpg);
  @include BackgroundHero;
  color: $LightGray;
}
.price {
  color: $Blue;
  font-weight: bold;
}
