/* Name: Coffee Shop

---01 TYPOGRAPHY SYSTEM
*********************************

Open Sans Light 300
Open Sans Regular 400
Open Sans Regular Italic 400
Open Sans Bold 700

---02 COLORS
***********************************
-Primary colors:
#5BACC3 - #FFF0ED
-Neutral colors:
#393939 - #F7F7F7 - #FFF

*/
/*************************************/
/* Variables */
/*************************************/
/*************************************/
/* General rules */
/*************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans";
  line-height: 1.4;
  font-weight: 400;
  color: #393939;
  overflow-x: hidden;
  transition: all 0.3s;
}

ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

h1,
h2 {
  font-size: 5rem;
  font-weight: 300;
}

h3 {
  font-size: 3.3rem;
  font-weight: 400;
}

p {
  font-size: 1.8rem;
}

.AllLinks:link,
.AllLinks:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

.AllLinks:hover,
.AllLinks:active {
  color: #5bacc3;
  padding: 0.05rem 0.05rem;
  box-shadow: 0 0.1rem 0rem 0rem;
}

.btn {
  padding: 0.8rem 2rem;
  background-color: #5bacc3;
  color: #fff;
  border: none;
  text-decoration: none;
  font-size: 2.4rem;
  width: 20rem;
  height: 5rem;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btntxtandborder {
  width: 20rem;
  height: 5rem;
  background-color: transparent;
  border: 2px solid #393939;
  padding: 0.8rem 2rem;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
}

.btntxtandborder:hover {
  cursor: pointer;
  border: 2px solid #fff0ed;
}

.btntxtandborder:active {
  transform: translate(0.5rem, 0.5rem);
}

#HomeButton {
  visibility: hidden;
}

/*************************************/
/* Navigation bar */
/*************************************/
.Logo,
.TopNav,
.NavList {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavList {
  align-items: center;
  gap: 2rem;
}

.TopNav {
  justify-content: space-between;
  gap: 6rem;
  padding: 0.8rem 2rem;
  background-color: #fff0ed;
}

/**************************/
/* Dropdown Button  */
/**************************/
#dropdownPart {
  display: none;
}

.dropdown {
  z-index: 999;
}

.dropbtn {
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 600;
  right: 0rem;
  top: 0.5rem;
  background-color: #5bacc3;
  border: none;
  padding: 0.5rem 5rem 0.5rem 0.5rem;
  position: fixed;
  color: #fff0ed;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: #393939;
}

.dropdown-content {
  width: 30vw;
  height: 30vh;
  margin-top: 4rem;
  display: none;
  /* position: absolute; */
  font-size: 2.4rem;
  background-color: #5bacc3;
  box-shadow: 0px 0.5rem 0.5rem 0px #393939;
  z-index: 999;
  padding-left: 1rem;
}

.dropdown-content a {
  color: #f7f7f7;
  /* padding: 1rem 1rem; */
  text-decoration: none;
  /* display: flex; */
}

.dropdown-content a:hover {
  background-color: #f7f7f7;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease-in;
  position: fixed;
  right: 0rem;
  top: 1.5rem;
}

/*************************************/
/* Footer */
/*************************************/
.Footer {
  background-color: #fff0ed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  justify-items: center;
  padding: 5rem;
  position: relative;
}

.FooterLogos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SocialMedImg {
  display: flex;
  gap: 2rem;
}

.FooterCoffeeBeanBackground {
  position: absolute;
  opacity: 30%;
  width: 10rem;
}

.FooterCoffeeBeanBackgroundRight {
  top: 0;
  left: -2rem;
}

.FooterCoffeeBeanBackgroundLeft {
  bottom: 0;
  right: -2rem;
}

/*************************************/
/* Hero Menu Page */
/*************************************/
.HeroMenuPage {
  background-image: url(../Assets/images/coffee-circle.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 80vh;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeroMenuPage .btn {
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}
.HeroMenuPage .btntxtandborder {
  font-size: 4rem;
  border: 4px solid #5bacc3;
  padding: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -1.5rem;
  left: -1rem;
}
.HeroMenuPage .btntxtandborder:hover {
  border: 4px solid #5bacc3;
}

/*************************************/
/* Second Navigation bar */
/*************************************/
.SecondNav {
  color: #ffffff;
  background-color: #393939;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SecondNavList {
  display: flex;
  gap: 3rem;
}

.vl {
  border-left: 0.5rem solid #5bacc3;
}

/*************************************/
/* Menu Items Decription */
/*************************************/
.MenuItemsDecription {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.HotDrink,
.ColdDrink,
.Pasteries {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  text-align: center;
  padding: 5rem 3rem;
  grid-column: 2;
}

.MenuItemsDecriptionB1 {
  background-image: linear-gradient(rgba(34, 34, 34, 0.8), rgba(40, 40, 40, 0.6)), url(../Assets/images/DesignedVersion/hero/MenuPageHotDrinkHero2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f7f7f7;
}

.MenuItemsDecriptionB2 {
  background-image: linear-gradient(rgba(34, 34, 34, 0.8), rgba(40, 40, 40, 0.5)), url(../Assets/images/DesignedVersion/hero/MenuPageColdBrewHero2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f7f7f7;
  border-top: 2rem solid #fff0ed;
  border-bottom: 2rem solid #fff0ed;
}

.MenuItemsDecriptionB3 {
  background-image: linear-gradient(rgba(34, 34, 34, 0.8), rgba(40, 40, 40, 0.6)), url(../Assets/images/DesignedVersion/hero/MenuPagePasteriesHero2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f7f7f7;
}

.price {
  color: #5bacc3;
  font-weight: bold;
}/*# sourceMappingURL=menu.css.map */