/* Name: Coffee Shop

---01 TYPOGRAPHY SYSTEM
*********************************

Open Sans Light 300
Open Sans Regular 400
Open Sans Regular Italic 400
Open Sans Bold 700

---02 COLORS
***********************************
-Primary colors:
#5BACC3 - #FFF0ED
-Neutral colors:
#393939 - #F7F7F7 - #FFF

*/
/*************************************/
/* Variables */
/*************************************/
// *******colors*********
$white: #fff;
$DarkGray: #393939;
$LightGray: #f7f7f7;
$Blue: #5bacc3;
$LightPink: #fff0ed;

// *******lAYOUT*********
@mixin FlexLayout($direction, $justify, $align) {
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
// *******Background images*********
@mixin BackgroundHero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*************************************/
/* General rules */
/*************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  font-family: "Open Sans";
  line-height: 1.4;
  font-weight: 400;
  color: $DarkGray;
  overflow-x: hidden;
  transition: all 0.3s;
}
ul,
a {
  text-decoration: none;
  list-style: none;
  color: inherit;
  padding: 0;
}

h1,
h2 {
  font-size: 5rem;
  font-weight: 300;
}
h3 {
  font-size: 3.3rem;
  font-weight: 400;
}
p {
  font-size: 1.8rem;
}
.AllLinks:link,
.AllLinks:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}
.AllLinks:hover,
.AllLinks:active {
  color: $Blue3;
  padding: 0.05rem 0.05rem;
  box-shadow: 0 0.1rem 0rem 0rem;
}
.btn {
  padding: 0.8rem 2rem;
  background-color: $Blue;
  color: $white;
  border: none;
  text-decoration: none;
  font-size: 2.4rem;
  width: 20rem;
  height: 5rem;
  position: relative;
  @include FlexLayout(row, flex-start, center);
}

.btntxtandborder {
  width: 20rem;
  height: 5rem;
  background-color: transparent;
  border: 2px solid $DarkGray;
  padding: 0.8rem 2rem;
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
}
.btntxtandborder:hover {
  cursor: pointer;
  border: 2px solid #fff0ed;
}
.btntxtandborder:active {
  transform: translate(0.5rem, 0.5rem);
}
// hr {
//   border-top: 0.1rem solid $white;
//   border-bottom: 0.2rem solid $DarkGray;
// }
#HomeButton {
  visibility: hidden;
}

/*************************************/
/* Navigation bar */
/*************************************/
.Logo,
.TopNav,
.NavList {
  @include FlexLayout(row, flex-start, center);
}
.NavList {
  gap: 2rem;
}
.TopNav {
  justify-content: space-between;
  gap: 6rem;
  padding: 0.8rem 2rem;
  background-color: $LightPink;
}

/**************************/
/* Dropdown Button  */
/**************************/
#dropdownPart {
  display: none;
}
.dropdown {
  z-index: 999;
}
.dropbtn {
  cursor: pointer;
  font-size: 2.2rem;
  font-weight: 600;
  right: 0rem;
  top: 0.5rem;
  background-color: $Blue;
  border: none;
  padding: 0.5rem 5rem 0.5rem 0.5rem;
  position: fixed;
  color: $LightPink;
}
.dropbtn:hover,
.dropbtn:focus {
  background-color: $DarkGray;
}
.dropdown-content {
  width: 30vw;
  height: 30vh;
  margin-top: 4rem;
  display: none;
  /* position: absolute; */
  font-size: 2.4rem;
  background-color: $Blue;
  box-shadow: 0px 0.5rem 0.5rem 0px $DarkGray;
  z-index: 999;
  padding-left: 1rem;
}
.dropdown-content a {
  color: $LightGray;
  /* padding: 1rem 1rem; */
  text-decoration: none;
  /* display: flex; */
}
.dropdown-content a:hover {
  background-color: $LightGray;
}
.show {
  @include FlexLayout(column, flex-start, center);
  gap: 1rem;
  transition: all 0.3s ease-in;
  position: fixed;
  right: 0rem;
  top: 1.5rem;
}

/*************************************/
/* Footer */
/*************************************/
.Footer {
  background-color: $LightPink;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-around;
  justify-items: center;
  padding: 5rem;
  position: relative;
}
.FooterLogos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.SocialMedImg {
  display: flex;
  gap: 2rem;
}
.FooterCoffeeBeanBackground {
  position: absolute;
  opacity: 30%;
  width: 10rem;
}
.FooterCoffeeBeanBackgroundRight {
  top: 0;
  left: -2rem;
}
.FooterCoffeeBeanBackgroundLeft {
  bottom: 0;
  right: -2rem;
}
